[SddmGreeterTheme]
Name=rega-sddm-theme
Description=sddm-theme
Author=regarager
Website=https://github.com/regarager/sddm-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.1
ConfigFile=Themes/theme1.conf
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=rega-sddm-theme
Theme-API=2.0
QtVersion=6
